body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    width: 300px;
}

textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
}
